<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>昵称</th>
        <th>邮箱</th>
        <th>注册时间</th>
        <th>上次登录时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
<!--分页-->
<div class="page">
    <ul class="pagination"></ul>
</div>
<%-contentFor('style') %>
<%-contentFor('additem') %>
<%-contentFor('script') %>
<script src="/js/author.js"></script>